Source: libcreds3
Priority: extra
Maintainer: Markku Savela <ext-Markku.Savela@nokia.com>
Build-Depends: debhelper,autoconf,automake,libtool,cdbs,doxygen (>= 1.5.9)
Standards-Version: 3.7.3
Section: libs

Package: libcreds3-dev
Section: libdevel
Architecture: any
Depends: libcreds3 (= ${binary:Version})
Provides: libcreds-dev
Conflicts: libcreds-dev
Description: developement libaries and header files for libcreds
 Contains the necessary support for building applications
 that need to access credentials information from other
 processes.

Package: libcreds3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libcreds
Conflicts: libcreds
Description: support for getting task credentials of another task
 This library enables access to the credentials of an another
 process.

Package: libcreds3-tools
Section: utils
Priority: optional
Architecture: any
Depends: libcreds3 (= ${binary:Version}),${shlibs:Depends}
Description: command line utilities
 This library contains command line utilities
 for develoment use and testing.

Package: libcreds3-doc
Section: utils
Priority: optional
Architecture: any
Depends: libcreds3 (= ${binary:Version}),${shlibs:Depends}
Description: this package contains doxygen documentation of creds.h header file

